<html>
<head>
<link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>
<div align="center">
<ul>
<li><a href="/">Home</a></li>
<li><a href="/blog/">Blog</a></li>
<li><a href="/reviews/">Game Reviews</a></li>
</ul>
</div>
{% for emoji in emojis%}
<p><a href="http://localhost:8080/test?Name={{emoji.Title}}">{{emoji.Title}}: {{emoji.msg}}</p>
{%else%}
<p>There is nothing</p>
{% endfor %}
<form method="GET" action="/"><input name="Name"><!-- input name="task"><input name="message"><input type="submit"--></form>
</body>
</html>